body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding: 10px;
  }

  p{
    margin: 0 !important;
    padding: 0 !important;

  }


  .webpack{
    width: 40%;
  }

  @media (max-width:991px) {
    .webpack{
      width: 70%;
    }

    .previewWapper {
      width: 80% !important;
  }
  }

  .experienceWidth{
      width: 20% !important;
  }

  .searchWidth{
    width: 25% !important;
  }

  .moon-sun{
    width: 47%;
    height: 75%;
    background: #5ff04a;
    border-radius: 48px;
    position: relative;
    cursor: pointer;
}

.toggleWapper{
  width: 37%;
}

.toggleInput{
  display: none;
}

.moon-sun::before {
  content: "";
  width: 30px;
  height: 30px;
  box-shadow: inset 16px  -5px 0 0 #fff;
  position: absolute;
  border-radius: 50%;
  margin: 5px;
  transition: .5s;
}

#checkbox:checked +.moon-sun::before{
  transform: translateX(50px);
  overflow: hidden;
  box-shadow: inset 100px 0 0 #fff;
}



.pages{
  position: absolute;
  z-index: 999;
  left: -15%;
  width: 15%;

  button{
    font-size: .8rem;
    text-decoration: none;
  }
}

.copyDelete{
  right: -19%;
  width: 19%;
  padding: 5px;
  font-size: .9rem;
}
